@import 'fonts';
@import 'base';
@import 'font_smoothing';


$light_blue: #f4f4f4;
$blue: #2D9D92;
$dark_blue: #1E6558;

body {
  max-width: 800px;
  padding: 0;
  margin: 0;
  @include font-smoothing;
}

h3.interactive {
  text-transform: uppercase;
  padding-bottom: 8px;
  font-family: ProximaNovaCond;
  font-size: 12px;
  letter-spacing: 1.2px;
  color: #222;
  margin-bottom: 0;
  margin-top: 20px;
  // font-weight: normal;
  // color: $blue;
}

h3.poll_header {
  border-top: 1px solid $blue;
  color: $blue;
  font-family: ProximaNovaCond;
  font-weight: bold;
  font-size: 30px;
  padding-top: 10px;
  margin-bottom: 15px;
  margin-top: 0;
}

.poll {
  p {
    font-weight: normal;
    font-family: Georgia;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    color: #222;
    margin-bottom: 30px;
    margin-top: 15px;
  }
  .quiet {
    color: #808080;
  }
  .vote {
    width: 100%;
    height: 70px;
    border: 1px solid $blue;
    color: $blue;
    font-family: ProximaNovaCond;
    background: white;
    cursor: pointer;
    font-size: 20px;
    &:hover {
      background: $blue;
      color: white;
    }
  }
}

.options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  margin-bottom: 0px;
}
.option {
  font-family: ProximaNovaCond;
  font-size: 16px;
  color: #808080;
  cursor: pointer;
  // flex: 1 0;
  // width: 150px;
  width: 23.5%;
  // margin-right: 2%;
  margin-bottom: 12px;
  height: 35px;
  // margin: 6px;
  padding: 10px 0;
  text-align: center;
  background: $light_blue;
  &:hover {
    color: #222;
  }
}

.selected {
  // @include font-smoothing(none);
  font-weight: bold;
  color: white;
  background: $blue;
  &:hover {
    color: white;
  }
}


@media (max-width: 480px) {
  .option {
    width: 48%;
  }
  h3.poll_header {
    line-height: 32px;
  }
  .poll {
    p {
      line-height: 27px;
    }
  }
  .social {
    a {
      margin-right: 0;
      margin-left: 10px;
    }
    .start-over a {
      margin-top: 10px;
      margin-left: 0;
    }
    .button svg {
      width: 40px;
    }
  }
  .punishment_header {
    margin-top: -31px
  }
  .conclusion {
    margin-top: 31px;
  }
}
