@font-face {
  font-family: 'ProximaNovaCond';
  src: url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondNormal-136b8b50cabde19e5e8ab530f99e81ac.eot?136b8b50cabde19e5e8ab530f99e81ac");
  src: url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondNormal-136b8b50cabde19e5e8ab530f99e81ac.eot?&136b8b50cabde19e5e8ab530f99e81ac#iefix") format("embedded-opentype"), url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondNormal-30ea31cbd1e9632c6002a58b4eeb233f.woff?30ea31cbd1e9632c6002a58b4eeb233f") format("woff"), url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondNormal-972dee448fc162e9c89cb9beaaaecbfb.ttf?972dee448fc162e9c89cb9beaaaecbfb") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNovaCond';
  src: url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondNormalItalic-c6b62bc44b0d3459f56ba92459c6c163.eot?c6b62bc44b0d3459f56ba92459c6c163");
  src: url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondNormalItalic-c6b62bc44b0d3459f56ba92459c6c163.eot?&c6b62bc44b0d3459f56ba92459c6c163#iefix") format("embedded-opentype"), url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondNormalItalic-174e83d6c5f650786cd413aa4276955d.woff?174e83d6c5f650786cd413aa4276955d") format("woff"), url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondNormalItalic-2a4911a4114779c4fe31e01e55573dc4.ttf?2a4911a4114779c4fe31e01e55573dc4") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'ProximaNovaCond';
  src: url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondBold-2f7537a1c2ebacfa4d9f42fa66f0ca68.eot?2f7537a1c2ebacfa4d9f42fa66f0ca68");
  src: url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondBold-2f7537a1c2ebacfa4d9f42fa66f0ca68.eot?&2f7537a1c2ebacfa4d9f42fa66f0ca68#iefix") format("embedded-opentype"), url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondBold-6e302c8978b1bd9d453fba318a1fa572.woff?6e302c8978b1bd9d453fba318a1fa572") format("woff"), url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondBold-e3a413a3f145ddf79ef77f8ce3b45201.ttf?e3a413a3f145ddf79ef77f8ce3b45201") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNovaCond';
  src: url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondBoldItalic-86767d54bb7b6f76568c3cdf7a11c7a9.eot?86767d54bb7b6f76568c3cdf7a11c7a9");
  src: url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondBoldItalic-86767d54bb7b6f76568c3cdf7a11c7a9.eot?&86767d54bb7b6f76568c3cdf7a11c7a9#iefix") format("embedded-opentype"), url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondBoldItalic-926b0b499b8fa86bf8e9e61097c9c5b4.woff?926b0b499b8fa86bf8e9e61097c9c5b4") format("woff"), url("http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondBoldItalic-749708412f9df0bc77e7542423cafd26.ttf?749708412f9df0bc77e7542423cafd26") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'FranklinGothicMedium';
  src: url("http://x.kinja-static.com/assets/fonts/franklingothic/franklingothicurw-medium-webfont-d32bea513a8903b55f2a03f1b7cec584.eot?d32bea513a8903b55f2a03f1b7cec584");
  src: url("http://x.kinja-static.com/assets/fonts/franklingothic/franklingothicurw-medium-webfont-d32bea513a8903b55f2a03f1b7cec584.eot?&d32bea513a8903b55f2a03f1b7cec584#iefix") format("embedded-opentype"), url("http://x.kinja-static.com/assets/fonts/franklingothic/franklingothicurw-medium-webfont-9f6b1bb4667f7803e52e1ecb779c66f4.svg?9f6b1bb4667f7803e52e1ecb779c66f4#franklingothic_urwmedium") format("svg"), url("http://x.kinja-static.com/assets/fonts/franklingothic/franklingothicurw-medium-webfont-413a6d46d6e6a9f3153c98f9fd406e75.ttf?413a6d46d6e6a9f3153c98f9fd406e75") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FranklinGothicDemi';
  src: url("http://x.kinja-static.com/assets/fonts/franklingothic/franklingothicurw-demi-webfont-c78bb345e4d9018967085cb24c017a0f.eot?c78bb345e4d9018967085cb24c017a0f");
  src: url("http://x.kinja-static.com/assets/fonts/franklingothic/franklingothicurw-demi-webfont-c78bb345e4d9018967085cb24c017a0f.eot?&c78bb345e4d9018967085cb24c017a0f#iefix") format("embedded-opentype"), url("http://x.kinja-static.com/assets/fonts/franklingothic/franklingothicurw-demi-webfont-8b7e896f61c73f13ba5e9e175b2d9c7d.svg?8b7e896f61c73f13ba5e9e175b2d9c7d#franklingothic_urwdemi") format("svg"), url("http://x.kinja-static.com/assets/fonts/franklingothic/franklingothicurw-demi-webfont-0d0886196150c1feb1724e8dfe13c644.ttf?0d0886196150c1feb1724e8dfe13c644") format("truetype");
  font-weight: normal;
  font-style: normal; }
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a.login {
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  text-rendering: optimizeLegibility;
  background: #808080;
  width: 400px;
  display: block;
  text-align: center;
  padding: 16px;
  margin: 200px auto 20px;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1.5px;
  font-weight: bold; }
  a.login:hover {
    background: #b3b3b3; }

.login_message {
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 15px;
  color: #b3b3b3;
  line-height: 20px;
  margin: 0 auto;
  width: 400px; }

a {
  color: black;
  text-decoration: none; }

.new_poll {
  max-width: 800px;
  width: 100%; }
  .new_poll .group {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    margin: 10px; }
    .new_poll .group label {
      flex: 0 0 130px;
      text-align: right;
      padding-top: 10px; }
    .new_poll .group input, .new_poll .group textarea {
      flex: 1 1 auto;
      padding: 10px;
      margin: 0;
      margin-left: 10px; }
    .new_poll .group textarea {
      min-height: 200px; }
    .new_poll .group button {
      align-self: flex-end; }

body {
  max-width: 800px;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h3.interactive {
  text-transform: uppercase;
  padding-bottom: 8px;
  font-family: ProximaNovaCond;
  font-size: 12px;
  letter-spacing: 1.2px;
  color: #222;
  margin-bottom: 0;
  margin-top: 20px; }

h3.poll_header {
  border-top: 1px solid #2D9D92;
  color: #2D9D92;
  font-family: ProximaNovaCond;
  font-weight: bold;
  font-size: 30px;
  padding-top: 10px;
  margin-bottom: 15px;
  margin-top: 0; }

.poll p {
  font-weight: normal;
  font-family: Georgia;
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  color: #222;
  margin-bottom: 30px;
  margin-top: 15px; }
.poll .quiet {
  color: #808080; }
.poll .vote {
  width: 100%;
  height: 70px;
  border: 1px solid #2D9D92;
  color: #2D9D92;
  font-family: ProximaNovaCond;
  background: white;
  cursor: pointer;
  font-size: 20px; }
  .poll .vote:hover {
    background: #2D9D92;
    color: white; }
  .poll .vote:after {
    content: "Vote"; }
  .poll .vote.loading:after {
    content: "Voting..."; }
  .poll .vote.voted {
    border: 1px solid white;
    cursor: initial; }
    .poll .vote.voted:after {
      content: "Thanks for voting!"; }
    .poll .vote.voted:hover {
      background: white;
      color: #2D9D92; }

.options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  margin-bottom: 0px; }

.option {
  font-family: ProximaNovaCond;
  font-size: 16px;
  color: #808080;
  cursor: pointer;
  width: 23.5%;
  margin-bottom: 12px;
  height: 35px;
  padding: 10px 0;
  text-align: center;
  background: #f4f4f4; }
  .option:hover {
    color: #222; }

.selected {
  font-weight: bold;
  color: white;
  background: #2D9D92; }
  .selected:hover {
    color: white; }

@media (max-width: 480px) {
  .option {
    width: 48%; }

  h3.poll_header {
    line-height: 32px; }

  .poll p {
    line-height: 27px; }

  .social a {
    margin-right: 0;
    margin-left: 10px; }
  .social .start-over a {
    margin-top: 10px;
    margin-left: 0; }
  .social .button svg {
    width: 40px; }

  .punishment_header {
    margin-top: -31px; }

  .conclusion {
    margin-top: 31px; } }
